AI Video Generator - CORREGIDO.json
{
  "name": "AI Video Generator - Sin MinIO",
  "nodes": [
    {
      "parameters": {
        "path": "video-generator",
        "formTitle": "🎬 Generador Automático de Videos con IA",
        "formDescription": "Crea videos profesionales automáticamente - 100% GRATIS",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Tema del Video",
              "requiredField": true
            },
            {
              "fieldLabel": "Duración (segundos)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Estilo Visual",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Futurista"
                  },
                  {
                    "option": "Minimalista"
                  },
                  {
                    "option": "Cinematográfico"
                  },
                  {
                    "option": "Tecnológico"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Idioma",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Español"
                  },
                  {
                    "option": "Inglés"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "773d22e1-0e23-418c-9d6d-26dd13afe646",
      "name": "Video Request Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        592,
        -208
      ],
      "webhookId": "video-gen-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un experto guionista de videos para YouTube. Creas guiones estructurados y detallados.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Crea un guion DETALLADO para un video de {{ $json['Duración (segundos)'] }} segundos sobre: {{ $json['Tema del Video'] }}.\\n\\nESTRUCTURA REQUERIDA:\\n- Divide el guion en escenas numeradas (1 escena cada 15-20 segundos)\\n- Cada escena DEBE tener:\\n  * timestamp: rango en segundos (ej: '0-18')\\n  * narration: texto a narrar (máximo 50 palabras)\\n  * visual_description: descripción MUY detallada para generar imagen con IA (mínimo 30 palabras, incluye: composición, iluminación, colores, atmósfera, detalles específicos)\\n  * transition: tipo de transición ('fade', 'crossfade', 'wipe')\\n\\nEstilo visual: {{ $json['Estilo Visual'] }}\\nIdioma: {{ $json['Idioma'] }}\\n\\nRESPONDE SOLO CON JSON VÁLIDO:\\n{\\n  \\\"title\\\": \\\"Título atractivo del video\\\",\\n  \\\"description\\\": \\\"Descripción breve\\\",\\n  \\\"scenes\\\": [\\n    {\\n      \\\"number\\\": 1,\\n      \\\"timestamp\\\": \\\"0-18\\\",\\n      \\\"narration\\\": \\\"Texto narrado\\\",\\n      \\\"visual_description\\\": \\\"Descripción SUPER detallada con colores, composición, iluminación, atmósfera, estilo {{ $json['Estilo Visual'] }}\\\",\\n      \\\"transition\\\": \\\"fade\\\"\\n    }\\n  ]\\n}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4000\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "b8a5c012-6663-4a2d-bae6-849f42d3dc68",
      "name": "Generate Script (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HJtcvTjY8AdXRqda",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet scriptContent = response.choices[0].message.content;\n\n// 🔹 Limpiar markdown si existe (```json ... ```)\nif (scriptContent.includes('```json')) {\n  scriptContent = scriptContent\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n}\n\n// 🔹 Parsear JSON\nlet scriptData;\ntry {\n  scriptData = JSON.parse(scriptContent);\n} catch (e) {\n  console.error('❌ Error al parsear JSON:', e);\n  console.error('Contenido recibido:', scriptContent);\n  throw new Error(`Invalid JSON from Groq: ${e.message}`);\n}\n\n// 🔹 Validar estructura\nif (!scriptData.scenes || !Array.isArray(scriptData.scenes)) {\n  throw new Error('Invalid script format: missing \"scenes\" array');\n}\n\nconsole.log(`📝 Script generado: ${scriptData.title}`);\nconsole.log(`🎬 Total de escenas: ${scriptData.scenes.length}`);\n\n// 🔹 Retornar escenas individuales\nreturn scriptData.scenes.map(scene => ({\n  json: {\n    ...scene,\n    videoTitle: scriptData.title,\n    videoDescription: scriptData.description,\n    totalScenes: scriptData.scenes.length,\n    style: $('Video Request Form').first().json['Estilo Visual'],\n    language: $('Video Request Form').first().json['Idioma'],\n    imageApiAttempt: 0,\n  }\n}));\n"
      },
      "id": "e34d2cd8-6997-4421-9869-7b38ab9f6856",
      "name": "Parse Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f0d74549-6639-4689-b939-91830a018f17",
      "name": "Loop Over Scenes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        -208
      ]
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ encodeURIComponent($json.visual_description + ', professional photography, high quality, ultra detailed, 8k resolution, cinematic lighting, ' + $json.style + ' style, masterpiece') }}?width=1920&height=1080&nologo=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "image/jpeg"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "6edda79b-dd71-47e1-af10-894f47d0f9c1",
      "name": "Generate Image (Pollinations)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        -208
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst sceneNumber = $('Loop Over Scenes').item.json.number;\nconst imageData = $input.first().binary.data;\nconst workDir = 'C:/tmp/video_generation';\n\n// Crear directorio si no existe\nif (!fs.existsSync(workDir)) {\n  fs.mkdirSync(workDir, { recursive: true });\n  console.log(`📁 Directorio creado: ${workDir}`);\n}\n\n// Guardar imagen\nconst imagePath = path.join(workDir, `scene_${sceneNumber}.jpg`);\nfs.writeFileSync(imagePath, Buffer.from(imageData.data));\n\nconsole.log(`🖼️ Imagen guardada: ${imagePath}`);\nconsole.log(`📊 Tamaño: ${(imageData.data.length / 1024).toFixed(2)} KB`);\n\nreturn [{\n  json: {\n    ...$('Loop Over Scenes').item.json,\n    sceneNumber: sceneNumber,\n    imagePath: imagePath,\n    imageReady: true\n  },\n  binary: {\n    data: imageData\n  }\n}];"
      },
      "id": "e5c127e4-3c79-4f22-9bea-c6a3de67dfe6",
      "name": "Save Image to Disk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5050/synthesize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.narration }}\",\n  \"voice\": \"{{ $json.language === 'Español' ? 'af_bella' : 'am_adam' }}\",\n  \"speed\": 1.0,\n  \"language\": \"{{ $json.language === 'Español' ? 'es' : 'en' }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "2386a131-86f6-4fb9-9e21-8d087dc41a36",
      "name": "Generate Voice (Kokoro TTS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        -208
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst kokoroFailed = $input.first().json.error !== undefined;\n\nif (kokoroFailed) {\n  console.warn('⚠️ Kokoro TTS no disponible - Video sin narración');\n\n  return [{\n    json: {\n      ...$('Save Image to Disk').item.json,\n      audioSkipped: true\n    }\n  }];\n}\n\nconst sceneNumber = $('Save Image to Disk').item.json.number;\nconst audioData = $input.first().binary.data;\nconst workDir = 'C:/tmp/video_generation';\n\n// Crear directorio si no existe\nif (!fs.existsSync(workDir)) {\n  fs.mkdirSync(workDir, { recursive: true });\n}\n\n// Guardar audio\nconst audioPath = path.join(workDir, `audio_${sceneNumber}.mp3`);\nfs.writeFileSync(audioPath, Buffer.from(audioData.data));\n\nconsole.log(`🎤 Audio guardado: ${audioPath}`);\nconsole.log(`📊 Tamaño: ${(audioData.data.length / 1024).toFixed(2)} KB`);\n\nreturn [{\n  json: {\n    ...$('Save Image to Disk').item.json,\n    audioPath: audioPath,\n    audioReady: true\n  },\n  binary: {\n    data: audioData\n  }\n}];"
      },
      "id": "d11f7057-0481-40ba-9fea-64c4d70e0faa",
      "name": "Save Audio to Disk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "batch-complete-check",
              "leftValue": "={{ $('Loop Over Scenes').context.noItemsLeft }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a82edd95-ddde-4ecb-8cba-41cf9a7a2335",
      "name": "Check All Scenes Done",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2192,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": " const style = $input.first().json.style.toLowerCase();\n\n  const musicLibrary = {\n    'futurista': 'https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3',\n    'minimalista': 'https://www.soundhelix.com/examples/mp3/SoundHelix-Song-2.mp3',\n    'cinematográfico': 'https://www.soundhelix.com/examples/mp3/SoundHelix-Song-3.mp3',\n    'tecnológico': 'https://www.soundhelix.com/examples/mp3/SoundHelix-Song-4.mp3'\n  };\n\n  const musicUrl = musicLibrary[style] || musicLibrary['cinematográfico'];\n\n  console.log(`🎵 Música seleccionada: ${style}`);\n\n  return [{\n    json: {\n      ...$input.first().json,\n      musicUrl: musicUrl\n    }\n  }];"
      },
      "id": "cb87fe75-ab35-44cc-a254-72d22db3f2c4",
      "name": "Select Background Music",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -208
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.musicUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "fbd5ce08-7105-4a30-93a9-35548cdc16f5",
      "name": "Download Music",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2592,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst musicData = $input.first().binary.data;\nconst workDir = 'C:/tmp/video_generation';\n\n// Crear directorio si no existe\nif (!fs.existsSync(workDir)) {\n  fs.mkdirSync(workDir, { recursive: true });\n}\n\n// Guardar música\nconst musicPath = path.join(workDir, 'background_music.mp3');\nfs.writeFileSync(musicPath, Buffer.from(musicData.data));\n\nconsole.log(`🎵 Música guardada: ${musicPath}`);\nconsole.log(`📦 Tamaño: ${(musicData.data.length / 1024).toFixed(2)} KB`);\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    musicPath: musicPath,\n    musicReady: true\n  },\n  binary: $input.first().binary\n}];"
      },
      "id": "2b3a284b-c37b-47f4-847c-eb0b06a4b7fa",
      "name": "Save Music",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "const scenes = $input.all();\n\n  let srtContent = '';\n\n  scenes.forEach((scene, index) => {\n    const [start, end] = scene.json.timestamp.split('-').map(Number);\n\n    const formatTime = (seconds) => {\n      const hrs = Math.floor(seconds / 3600);\n      const mins = Math.floor((seconds % 3600) / 60);\n      const secs = seconds % 60;\n      return `${String(hrs).padStart(2, '0')}:${String(mins).padStart(2,\n  '0')}:${String(secs).padStart(2, '0')},000`;\n    };\n\n    srtContent += `${index + 1}\\n`;\n    srtContent += `${formatTime(start)} --> ${formatTime(end)}\\n`;\n    srtContent += `${scene.json.narration}\\n\\n`;\n  });\n\n  console.log(`📝 Subtítulos generados (${srtContent.length} caracteres)`);\n\n  return [{\n    json: {\n      ...scenes[0].json,\n      srtContent: srtContent,\n      srtPath: 'C:/tmp/video_generation/subtitles.srt',\n      totalScenes: scenes.length\n    }\n  }];"
      },
      "id": "488118d0-d113-4534-a9b9-9a539ab6b6d8",
      "name": "Generate Subtitles (SRT)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst totalScenes = $input.first().json.totalScenes;\nconst workDir = 'C:/tmp/video_generation';\n\n// Crear archivos de lista para FFmpeg\nlet imagesList = '';\nlet audioList = '';\n\nfor (let i = 1; i <= totalScenes; i++) {\n  imagesList += `file 'scene_${i}.jpg'\\n`;\n  imagesList += `duration 18\\n`;\n  audioList += `file 'audio_${i}.mp3'\\n`;\n}\n// Agregar última imagen sin duración (requerido por FFmpeg)\nimagesList += `file 'scene_${totalScenes}.jpg'`;\n\n// Guardar listas\nconst imagesListPath = path.join(workDir, 'images.txt');\nconst audioListPath = path.join(workDir, 'audio_list.txt');\n\nfs.writeFileSync(imagesListPath, imagesList, 'utf8');\nfs.writeFileSync(audioListPath, audioList, 'utf8');\n\nconsole.log(`📋 Lista de imágenes creada: ${imagesListPath}`);\nconsole.log(`📋 Lista de audios creada: ${audioListPath}`);\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    imagesListPath: imagesListPath,\n    audioListPath: audioListPath,\n    workDir: workDir,\n    outputPath: path.join(workDir, 'final_video.mp4')\n  }\n}];"
      },
      "id": "fc1b9146-98ab-4c23-9828-1a307f98c165",
      "name": "Prepare FFmpeg Lists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3408,
        -208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=cd /d C:\\tmp\\video_generation && ffmpeg -y -f concat -safe 0 -i images.txt -vf \"scale=1920:1080:force_original_aspect_ratio=decrease,pad=1920:1080:(ow-iw)/2:(oh-ih)/2,fps=30\" -c:v libx264 -pix_fmt yuv420p temp_video.mp4 && ffmpeg -y -f concat -safe 0 -i audio_list.txt -c copy narration_full.mp3 && ffmpeg -y -i temp_video.mp4 -i narration_full.mp3 -c:v copy -c:a aac -shortest video_with_voice.mp4 && ffmpeg -y -i video_with_voice.mp4 -stream_loop -1 -i background_music.mp3 -filter_complex \"[1:a]volume=0.15[bg];[0:a][bg]amix=inputs=2:duration=first[aout]\" -map 0:v -map \"[aout]\" -c:v copy -c:a aac -shortest video_with_music.mp4 && ffmpeg -y -i video_with_music.mp4 -vf \"subtitles=subtitles.srt:force_style='Fontname=Arial,Fontsize=22,PrimaryColour=&HFFFFFF&'\" -c:a copy final_video.mp4 && del temp_video.mp4 video_with_voice.mp4 video_with_music.mp4 narration_full.mp3"
      },
      "id": "36ee544f-55b4-49f4-aaf7-45fa5d75d314",
      "name": "FFmpeg Video Assembly",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3808,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst outputPath = $input.first().json.outputPath;\n\nif (!fs.existsSync(outputPath)) {\n  throw new Error(`Video final no encontrado: ${outputPath}`);\n}\n\nconst stats = fs.statSync(outputPath);\nconst fileSize = (stats.size / 1024 / 1024).toFixed(2);\n\nconsole.log(`\\n✅ VIDEO GENERADO EXITOSAMENTE`);\nconsole.log(`📹 Título: ${$input.first().json.videoTitle}`);\nconsole.log(`📂 Ubicación: ${outputPath}`);\nconsole.log(`📊 Tamaño: ${fileSize} MB`);\nconsole.log(`🎬 Escenas: ${$input.first().json.totalScenes}`);\nconsole.log(`\\n🎉 ¡Video listo para usar!`);\n\nreturn [{\n  json: {\n    success: true,\n    videoTitle: $input.first().json.videoTitle,\n    videoPath: outputPath,\n    fileSizeMB: fileSize,\n    totalScenes: $input.first().json.totalScenes,\n    generatedAt: new Date().toISOString(),\n    message: `Video guardado en: ${outputPath}`\n  }\n}];"
      },
      "id": "b8cc34f4-31c5-4652-9e96-73cdb519f36c",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4016,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconsole.error('❌ ERROR EN GENERACIÓN DE VIDEO');\nconsole.error($input.first().json.error || $input.first().json);\n\n// Limpiar archivos temporales\ntry {\n  const tempDir = 'C:/tmp/video_generation';\n  if (fs.existsSync(tempDir)) {\n    fs.rmSync(tempDir, { recursive: true, force: true });\n    console.log('🧹 Archivos temporales limpiados');\n  }\n} catch (e) {\n  console.error('Error en limpieza:', e.message);\n}\n\nreturn [{\n  json: {\n    success: false,\n    error: $input.first().json.error || 'Unknown error during video generation',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "0f838f17-81e2-413f-ac23-e2491925dc44",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4016,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst workDir = 'C:/tmp/video_generation';\nconst srtPath = path.join(workDir, 'subtitles.srt');\nconst srtContent = $input.first().json.srtContent;\n\n// Crear directorio si no existe\nif (!fs.existsSync(workDir)) {\n  fs.mkdirSync(workDir, { recursive: true });\n  console.log(`📁 Directorio creado: ${workDir}`);\n}\n\n// Escribir archivo de subtítulos\nfs.writeFileSync(srtPath, srtContent, 'utf8');\nconsole.log(`📝 Subtítulos guardados: ${srtPath}`);\nconsole.log(`📊 Tamaño: ${srtContent.length} caracteres`);\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    srtPath: srtPath,\n    srtSaved: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        -208
      ],
      "id": "f2570cf4-3a9c-41db-ab16-1aaba9449f5d",
      "name": "Save Subtitles to Disk"
    },
    {
      "parameters": {
        "command": "if not exist \"C:\\tmp\\video_generation\" mkdir C:\\tmp\\video_generation"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3616,
        -208
      ],
      "id": "73d41a52-af97-4294-bca4-05321d7553f8",
      "name": "Execute Command1"
    }
  ],
  "pinData": {},
  "connections": {
    "Video Request Form": {
      "main": [
        [
          {
            "node": "Generate Script (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script (Groq)": {
      "main": [
        [
          {
            "node": "Parse Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script": {
      "main": [
        [
          {
            "node": "Loop Over Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Scenes": {
      "main": [
        [
          {
            "node": "Generate Image (Pollinations)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check All Scenes Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (Pollinations)": {
      "main": [
        [
          {
            "node": "Save Image to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image to Disk": {
      "main": [
        [
          {
            "node": "Generate Voice (Kokoro TTS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice (Kokoro TTS)": {
      "main": [
        [
          {
            "node": "Save Audio to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Audio to Disk": {
      "main": [
        [
          {
            "node": "Loop Over Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check All Scenes Done": {
      "main": [
        [
          {
            "node": "Select Background Music",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Background Music": {
      "main": [
        [
          {
            "node": "Download Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Music": {
      "main": [
        [
          {
            "node": "Save Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Music": {
      "main": [
        [
          {
            "node": "Generate Subtitles (SRT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Subtitles (SRT)": {
      "main": [
        [
          {
            "node": "Save Subtitles to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare FFmpeg Lists": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg Video Assembly": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Subtitles to Disk": {
      "main": [
        [
          {
            "node": "Prepare FFmpeg Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "FFmpeg Video Assembly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4eb59db7-cd8b-43da-a509-09f32bc44390",
  "meta": {
    "instanceId": "8fce1e40c5b8381d9f0dedda5e4ba7d0a31dcfff1224a911d3af2aeda91b2437"
  },
  "id": "AisENeF1m6CiGvgj",
  "tags": [
    {
      "createdAt": "2025-10-12T15:14:25.838Z",
      "updatedAt": "2025-10-12T15:14:25.838Z",
      "id": "P4rBZh7XgSJ83Ixj",
      "name": "no-storage"
    },
    {
      "createdAt": "2025-10-12T15:14:25.842Z",
      "updatedAt": "2025-10-12T15:14:25.842Z",
      "id": "Uuyvu5vfur91BmiT",
      "name": "simple"
    },
    {
      "createdAt": "2025-10-12T13:21:55.477Z",
      "updatedAt": "2025-10-12T13:21:55.477Z",
      "id": "uoYVZK9iBgL4kRue",
      "name": "video-generation"
    }
  ]
}