telefonico/Llamadas telefónicas Comunidad.json
{
  "name": "Llamadas telefónicas Comunidad",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -80
      ],
      "id": "f4a5d0ff-17ec-4af1-a231-54867b239817",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "marketingiserveisgrau@gmail.com",
          "mode": "list",
          "cachedResultName": "marketingiserveisgrau@gmail.com"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus( 24, 'hours' ) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "f7c3491a-8aea-4b0a-af9c-cdfec464e790",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fkuzCCLqP61TfmZL",
          "name": "MK Grau"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"(Tu nuevo teléfono)\",\n  \"to_number\": \"{{ $json.output.phone_number }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"name\": \"{{ $json.output.name }}\",\n    \"phone_number\": \"{{ $json.output.phone_number }}\",\n    \"reason\": \"{{ $json.output.reason }}\",\n    \"start_time\": \"{{ $json.output.start_time }}\",\n    \"end_time\": \"{{ $json.output.end_time }}\"\n  },\n  \"override_agent_id\": \"agent_(ID de tu Agente)\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        0
      ],
      "id": "61602b09-0759-4bdc-8287-aa145c5a1ebc",
      "name": "Retell AI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZxUwCWshS4Q0EJe0",
          "name": "Tavily MK Grau"
        },
        "httpCustomAuth": {
          "id": "pKEK5N8RZXq9a9Tq",
          "name": "Retell AI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Appointment Description: {{ $json.description }}\n\nStart Time:{{ $json.start.dateTime }}\n\nEnd Time: {{ $json.end.dateTime }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Eres un asistente. Genera un objeto JSON estructurado con los siguientes campos:\n\nname: Nombre completo del destinatario\n\nphone_number: Número de teléfono como cadena de texto\n\nreason: Motivo de la cita\n\nstart_time: Hora de inicio en formato de fecha y hora ISO 8601\n\nend_time: Hora de finalización en formato de fecha y hora ISO 8601\n\nemail: Dirección de correo electrónico del destinatario\n\nDevuelve la salida únicamente en formato JSON válido. No incluyas ningún texto o comentario adicional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "94976377-abac-43e9-b763-840c865c668a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        208
      ],
      "id": "ddb4f09e-f1da-422a-8ae9-d22e1cb366a6",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "bVdVugQPb7fo5S4p",
          "name": "MK Grau API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"name\": {\n          \"type\": \"string\"\n        },\n        \"email\": {\n          \"type\": \"string\",\n          \"format\": \"email\"\n        },\n        \"phone_number\": {\n          \"type\": \"string\"\n        },\n        \"reason\": {\n          \"type\": \"string\"\n        },\n        \"start_time\": {\n          \"type\": \"string\",\n          \"format\": \"date-time\"\n        },\n        \"end_time\": {\n          \"type\": \"string\",\n          \"format\": \"date-time\"\n        }\n      },\n      \"required\": [\n        \"name\",\n        \"email\",\n        \"phone_number\",\n        \"reason\",\n        \"start_time\",\n        \"end_time\"\n      ]\n    }\n  },\n  \"required\": [\"output\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        208
      ],
      "id": "199e30a5-b273-4aba-b13e-4aae1d6a7e9d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## **Agente de IA para Recordatorios de CITAS llamadas de VOZ**\n",
        "height": 128,
        "width": 704,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -160
      ],
      "id": "893dec58-925d-421f-9de5-6ee66b5eef79",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        128
      ],
      "id": "e3e4053e-ad3c-457c-be32-f5624a1e9536",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Retell AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Andorra",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "97ac770c-871e-4785-8d02-b20c8daabee7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "924b306ea1107a5cb6e15b8c3a09a56a235e2267adafd2b95d9a109e20434cb2"
  },
  "id": "Y487iGE7zfQw7PgC",
  "tags": []
}